.container1{
    height: 300px;
    width: 100%;
}

#display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
}

.buttons{
    text-align: center;
    
}


#nameForm{
    text-align: center;
    margin: 50px auto;
}
#subButton{
    margin: 10px auto;
}